{% extends 'base.html' %}
{% block body %}
	<div class="col-lg-3">
		<div class="data-box" id="home-box">
			<div class="container-fluid">
				{{ devicename }}
			</div>
		</div>
		<div class="data-box" id="home-box">
			<div class="container-fluid">
				<table class="table table-striped">
					<tbody cla>
						<tr>
							<td>Version</td>
							<td>{{ data['release'][1] }}</td>
						</tr>
						<tr>
							<td>Operating system</td>
							<td>{{ data['distribution'][1] }}</td>
						</tr>
						<tr>
							<td>System name</td>
							<td></td>
						</tr>
						<tr>
							<td>Contact</td>
							<td></td>
						</tr>
						<tr>
							<td>Location</td>
							<td></td>
						</tr>
						<tr>
							<td>Uptime</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="data-box" id="home-box">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<p><a href="/{{id_agent}}/processors">Processors</a></p>
					</div>
					<div class="col-md-6">
						<p><a href="/{{id_agent}}/memory">Detailed Memory</a></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6" id="cpu-thumbnail-area" class="thumbnail"></div>
					<div class="col-md-6" id="memory-thumbnail-area" class="thumbnail"></div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<p><a href="/{{id_agent}}/Disk">Disk</a></p>
					</div>
					<div class="col-md-6">
						<p><a href="/{{id_agent}}/Network">Network</a></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6" id="disk-thumbnail-area" class="thumbnail"></div>
					<div class="col-md-6" id="network-thumbnail-area" class="thumbnail"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-9">
		<div class="row">
			<div class="col-lg-12">
				<div class="data-box">
					<div class="col-md-1">
						<p><a href="/{{id_agent}}">Overview</a></p>
					</div>
					<div class="col-md-1">
						<p><a href="/{{id_agent}}/datapoints">Datapoints</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="data-box">
					<table class="table table-striped">
						<tbody>
							<thead>
								<td>Datapoint ID</td>
								<td>Datapoint Label</td>
								<td>Datapoint Description</td>
							</thead>
							{% for datapoint_name, value in data.items() %}
								{% if "memory" in datapoint_name %}
									<tr>
										<td>
											<p>{{ value[0] }}</p>
										</td>
										<td>
											<a href="/graphs/{{ id_agent }}/{{ value[0] }}"><p>{{ datapoint_name }}</p></a>
										</td>
										<td>
											<p>To be filled</p>
										</td>
									</tr>
								{% endif %}
								{% if "cpu" in datapoint_name %}
									<tr>
										<td>
											<p>{{ value[0] }}</p>
										</td>
										<td>
											<a href="/graphs/{{ id_agent }}/{{ value[0] }}"><p>{{ datapoint_name }}</p></a>
										</td>
										<td>
											<p>To be filled</p>
										</td>
									</tr>
								{% endif %}
								{% if "disk_usage_total" in datapoint_name %}
									<tr>
										<td>
											<p>{{ value[0] }}</p>
										</td>
										<td>
											<a href="/graphs/{{ id_agent }}/{{ value[0] }}"><p>{{ datapoint_name }}</p></a>
										</td>
										<td>
											<p>To be filled</p>
										</td>
									</tr>
								{% endif %}
								{% if "network" in datapoint_name %}
									<tr>
										<td>
											<p>{{ value[0] }}</p>
										</td>
										<td>
											<a href="/graphs/{{ id_agent }}/{{ value[0] }}"><p>{{ datapoint_name }}</p></a>
										</td>
										<td>
											<p>To be filled</p>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
