{% extends 'base.html' %}

{% block body %}
    <div class="container" style="margin-top:10px">
        <!-- Page Layout here -->
        <div class="box">
            <h4>Devices</h4>
            <table class="table">
                <thead>
                <tr>
                    <th data-field="devices-total" width="10%">Device/Location</th>
                    <th data-field="devices-up" width="14%">Operating System</th>
                    <th data-field="devices-down" width="14%">Up Time</th>
                </tr>
                </thead>

                <tbody>

                {% for device in devices %}
                    <tr>
                        <td><a href="devices/{{ device["id_agent"] }}">device {{ device["id_agent"] }}</a></td>
                        <td>{{ device["distribution"] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <script type="text/javascript" charset="utf-8">
        </script>
    </div>
    </div>
{% endblock %}