{% extends 'base.html' %}
{% block body %}
  {% if "interface" in devicename %}
  <div class="col-lg-3">
      <div class="data-box" id="home-box">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3">
              <p><b>Device Name:</b></p>
            </div>
            <div class="col-lg-9">
              {{ devicename }}
            </div>
          </div>
        </div>
      </div>
      <div class="data-box" id="home-box">
        <div class="container-fluid">
          <div class="row network-table-info">

          </div>
        </div>
      </div>
      <div class="data-box" id="home-box">
        <div class="container-fluid">
          <div class="row box-title">
            <div class="col-lg-12">
              <h5>More Graphs</h5>
            </div>
          </div>
          <div class="thumbnail-graph" id="cpu-thumbnail-area">

          </div>
          <div class="thumbnail-graph" id="memory-thumbnail-area">

          </div>
          <div class="thumbnail-graph" id="disk-thumbnail-area">

          </div>
          <div class="thumbnail-graph" id="network-thumbnail-area">

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-12">
          <div class="data-box">
            <div class="col-md-1">
              <p><a href="/search/{{idx_device}}/{{idx_agent}}">Performance</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="data-box network-table" id="home-box">
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">

    {% for datapoint_name, value in data.items() %}
      {% if "memory_available" in datapoint_name %}
        AreaChart("{{id_agent}}", "{{value[0]}}", "#memory-thumbnail-area", 390, 160, "#00c8a4");
      {% endif %}
      {% if "load_average_01min" in datapoint_name %}
        AreaChart("{{id_agent}}", "{{value[0]}}", "#cpu-thumbnail-area", 390, 160, "#F37372");
      {% endif %}
      {% if "disk_usage_total" in datapoint_name %}
        AreaChart("{{id_agent}}", "{{value[0]}}", "#disk-thumbnail-area", 390, 160, "#009DB2");
      {% endif %}
      {% if "network_packets_sent" in datapoint_name %}
        AreaChart("{{id_agent}}", "{{value[0]}}", "#network-thumbnail-area", 390, 160, "#009DB2");
      {% endif %}
    {% endfor %}
    </script>
  {% else %}
    <div class="col-lg-3">
      <div class="data-box" id="home-box">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4">
              <p><b>Device Name:</b></p>
            </div>
            <div class="col-lg-8">
              {{ devicename }}
            </div>
          </div>
        </div>
      </div>
      <div class="data-box" id="home-box">
        <div class="container-fluid">
          <table class="table table-striped">
            <tbody cla>
              <tr>
                <td>Version</td>
                <td>{{ data['release'][1] }}</td>
              </tr>
              <tr>
                <td>Operating system</td>
                <td>{{ data['distribution'][1] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-12">
          <div class="container-fluid data-box">
            <div class="row">
              <div class="col-md-1">
                <p><a href="/search/{{idx_device}}/{{idx_agent}}">Performance</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="data-box" id="disk-box">
            <div class="container-fluid">
              <div class="row box-title">
                <div class="col-lg-12">
                  <h4>CPU Utilization Percentage</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="row" id="cpu-graph-area">

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td width="20px">
                          <i class="fa fa-square" aria-hidden="true" style="color: #f0e0a0;"></i>
                        </td>
                        <td>
                          <p class="small">System</p>
                        </td>
                        <td width="20px">
                          <i class="fa fa-square" aria-hidden="true" style="color: #ff9900;"></i>
                        </td>
                        <td>
                          <p class="small">User</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="data-box" id="memory-box">
            <div class="container-fluid">
              <div class="row box-title">
                <div class="col-lg-12">
                  <h4>Memory Utilization</h4>
                </div>
              </div>
              <div class="row" id="memory-graph-area">
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td width="20px">
                          <i class="fa fa-square" aria-hidden="true" style="color: #71D5C3;"></i>
                        </td>
                        <td>
                          <p class="small">Used memory</p>
                        </td>
                        <td width="20px">
                          <i class="fa fa-square" aria-hidden="true" style="color: #009DB2;"></i>
                        </td>
                        <td>
                          <p class="small">Free memory</p>
                        </td>
                        <td width="20px">
                          <i class="fa fa-square" aria-hidden="true" style="color: #f0e0a0;"></i>
                        </td>
                        <td>
                          <p class="small">Total memory</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="data-box" id="memory-box">
            <div class="container-fluid">
              <div class="row box-title">
                <div class="col-lg-12">
                  <h4>Network Bandwidth</h4>
                </div>
              </div>
              <div class="row" id="network-graph-area">
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td width="20px">
                          <i class="fa fa-square" aria-hidden="true" style="color: #4a89e6;"></i>
                        </td>
                        <td>
                          <p class="small">Bytes In</p>
                        </td>
                        <td width="20px">
                          <i class="fa fa-square" aria-hidden="true" style="color: #71D59E;"></i>
                        </td>
                        <td>
                          <p class="small">Bytes Out</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="data-box" id="memory-box">
            <div class="container-fluid">
              <div class="row box-title">
                <div class="col-lg-12">
                  <h4>CPU Load Average</h4>
                </div>
              </div>
              <div class="row" id="load-graph-area">
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td><i class="fa fa-square" aria-hidden="true" style="color: #FDBB5D;"></td>
                        <td><p class="small">1 minute load avg</p></td>
                        <td><i class="fa fa-square" aria-hidden="true" style="color: #FA9469;"></td>
                        <td><p class="small">5 minute load avg</p></td>
                        <td><i class="fa fa-square" aria-hidden="true" style="color: #F37372;"></td>
                        <td><p class="small">15 minute load avg</p></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
<script type="text/javascript">

    StackedArea("{{id_agent}}","memory", "#memory-graph-area", 630, 240, "#00c8a4");
    StackedArea("{{id_agent}}","load", "#load-graph-area", 630, 240, "#00c8a4");
    MultiLineChart("{{id_agent}}","network", "#network-graph-area", 630, 240, "#00c8a4");
    StackedArea("{{id_agent}}","cpu", "#cpu-graph-area", 630, 240, "#00c8a4");
</script>
{% endblock %}
