{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<script>
function login()
{
    var user = document.getElementById("uname").value;
    document.write("Welcome "+user);
}
</script>

<style>
 .lightbutton{
    background-color: #f05b5c;
    border: none;
    color: white;
    padding: 3px 26px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }
</style>

<div class="container" style="margin-top:50px">
   <h2>Login</h2> <br><br>
   <div class="panel panel-default">
      <div class="panel-body">
        Username: <input type="text" id="uname" size="30"> <br><br>
        Password : <input type="password" id="pass" size="30"> <br><br>
        <input type="submit" class="lightbutton" value="Login" onClick="login()">
     </div>
  </div>
</div>
{% endblock %}
